PORT=8080
HOST=0.0.0.0

USER_NODE_MAP=alice:node1,bob:node2,charlie:node3
ROLE_NODE_MAP=admin:node1,teacher:node2,student:node3
FALLBACK_NODE=node1

NODE1_HOST=localhost
NODE1_PORT=5433
NODE1_DATABASE=lab_sync
NODE1_USER=postgres
NODE1_PASSWORD=postgres

NODE2_HOST=localhost
NODE2_PORT=5434
NODE2_DATABASE=lab_sync
NODE2_USER=postgres
NODE2_PASSWORD=postgres

NODE3_HOST=localhost
NODE3_PORT=5435
NODE3_DATABASE=lab_sync
NODE3_USER=postgres
NODE3_PASSWORD=postgres
